<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="/fragments/header.html :: fragment-header"></div>

<div class="container">

    <div class="row">

        <div class="row">
            <div class="input-field col s6">
                <input id="title" type="text" class="validate" name="title" th:value="${board.title}" readonly>
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <label for="content">Content</label>
            <p name="content" id="content" th:utext="${board.content}"></p>
        </div>

        <button id="list-btn" class="btn waves-effect waves-light" type="button" name="action">LIST
        </button>

        <button id="modify-btn" class="btn waves-effect waves-light" type="button" name="action">MODIFY
        </button>

    </div>

</div>

<script src="/js/board/detail.js"></script>

<div th:replace="/fragments/footer.html :: fragment-footer"></div>
