<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="fragment-footer">

<footer class="page-footer teal">
  <div class="container">
    <div class="row">

      <div class="col l3 s12">
        <h5 class="white-text">Info</h5>
        <ul>
          <li>🤡 Created By JungWon </li>
          <li>💬 chwil2989@naver.com </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">

    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>


</body>

<!--  Scripts-->

<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

</th:block>

</html>

