<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="fragment-header">

<head>
  <meta charset="UTF-8">
  <title>blog_study</title>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">BLOG</a>
    <ul class="right hide-on-med-and-down">

      <div sec:authorize="!isAuthenticated()">
        <li><a href="/user/auth/login">로그인</a></li>
        <li><a href="/user/auth/join">회원가입</a></li>
      </div>

      <div sec:authorize="isAuthenticated()">
        <li><a href="/board/write">글쓰기</a></li>
        <li><a href="/user/myPage">마이페이지</a></li>
        <li><a href="/logout">로그아웃</a></li>
      </div>

    </ul>
  </div>
</nav>

</th:block>