<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="/fragments/header.html :: fragment-header"></div>

<div class="container">
    <div class="col s12 m7">
        <div class="card vertical">
            <div class="card card-stacked" th:each="board : ${boards}">
                <div class="card-content">
                    <p>[[${board.title}]]</p>
                </div>
                <div class="card-action">
                    <a href="#">[[${board.username}]]</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container center">
    <ul class="pagination">

        <th:block th:if="${boards.hasPrevious()}">
            <li class="waves-effect"><a th:href="@{/board/auth/list(page = ${boards.number - 1})}"><i class="material-icons">chevron_left</i></a></li>
        </th:block>
        <th:block th:if="${!boards.hasPrevious()}">
            <li class="disabled"><a th:href="@{/board/auth/list(page = ${boards.number - 1})}"><i class="material-icons">chevron_left</i></a></li>
        </th:block>

        <li>[[${boards.number + 1}]]</li>

        <th:block th:if="${boards.hasNext()}">
            <li class="waves-effect"><a th:href="@{/board/auth/list(page = ${boards.number + 1})}"><i class="material-icons">chevron_right</i></a></li>
        </th:block>
        <th:block th:if="${!boards.hasNext()}">
            <li class="disabled"><a th:href="@{/board/auth/list(page = ${boards.number + 1})}"><i class="material-icons">chevron_right</i></a></li>
        </th:block>

    </ul>
</div>

<div th:replace="/fragments/footer.html :: fragment-footer"></div>
